@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shape-divider-bottom-1665696366 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1665696366 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1665696366 .shape-fill {
    fill: #4A90E2;
}

.custom-shape-divider-bottom-1665698234 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1665698234 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 165px;
}

.custom-shape-divider-bottom-1665698234 .shape-fill {
    fill: #1067CE;
}